#root {
    .MuiFormLabel-root,
    .MuiTab-root,
    .MuiTypography-root,
    .MuiButtonBase-root,
    .MuiSvgIcon-root,
    .MuiFormHelperText-root {
        font-size: inherit;
    }

    .MuiFormLabel-root,
    .MuiFormLabel-root.Mui-focused,
    .MuiRadio-colorSecondary,
    .MuiRadio-colorSecondary.Mui-checked {
        color: inherit;
    }

    .day {
        background-color: #ffffff;
        color: #000000;
    }

    .night {
        background-color: #000000;
        color: #ffffff;
    }
}
